* 
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none
    
@import components/_const
@import components/_fixed
@import components/_popup
@import components/_header
@import components/_slider
@import components/_partners
@import components/_advantages
@import components/_price
@import components/_email
@import components/_benefit
@import components/_text
@import components/_form
@import components/_footer
@import components/_swiper

    
p, h1, h2, h3
    color: #4E4E4E
    font-family: $font

p
    line-height: 26px
    font-weight: 500

h1
    line-height: 55px

h2
    line-height: 34px

span
    color: $red
    font-weight: $medium
