* 
    box-sizing: border-box
    margin: 0
    padding: 0
    
@import components/_const
@import components/_fixed
@import components/_header
@import components/_slider
@import components/_partners

    
p, h1, h2, h3
    color: #4E4E4E
    font-family: $font

span
    color: #e32535
    font-weight: $bold
