.advantages
    padding: $grid
    margin-top: 50px

    &__instructions
        display: flex
        flex-direction: column

    &__item
        display: flex
        align-items: center
        margin: 10px auto
        position: relative

        &-step
            border-radius: 50px
            width: 48px
            height: 48px
            background-color: $red
            padding: 10px 20px
            font:
                size: 30px
                weight: $bold

            display: flex
            align-items: center
            justify-content: center
            margin-right: 20px
            position: absolute
            left: -70px

            & p
                color: $white

        &-text
            color: $white
            display: flex
            flex-direction: column
            border-radius: 20px
            background-color: $red
            padding: 10px 30px
            text-align: center

            min-width: 400px
            cursor: pointer
            

            & p
                color: $white

                &:nth-child(1)
                    text-transform: uppercase
                    font:
                        size: 16px
                        weight: $bold

                &:nth-child(2)
                    text-transform: lowercase
                    font:
                        size: 16px
                        weight: $medium
                    line-height: 25px

    &__reactions

        & h2
            font:
                size: 24px
                weight: $medium
            width: 430px
            text-align: center
            margin: 45px auto

    &__video
        display: flex
        justify-content: space-around
        align-items: center

        &-item 
            margin-right: 0px
            
            & video
                border-radius: 40px
                width: 20vw
                height: calc(20vw * 1.37)

@media (max-width: 1500px )
    .advantages
        padding: $grid1440
                
                

@media (max-width: 620px)
    .advantages

        &__item
            position: static
            flex-direction: column

            &-step
                position: static
                margin-bottom: 20px
                margin-right: 0px

        &__reactions h2
            width: 100%

        &__video
            flex-direction: column

            &-item
                margin-right: 0
                margin-bottom: 50px

                & video
                    width: 40vw
                    height: calc(40vw * 1.37)

@media (max-width: 500px)
    .advantages__item-text
        min-width: 0px

@media (max-width: 400px)
    .advantages__video-item video
        width: 50vw
        height: calc(50vw * 1.37)