.fixed 
    padding: 5px 3% 5px 3%
    background-color: #61bcb3
    display: flex
    transform: translateY(-100%) !important
    transition: 0.4s all
    align-items: center
    justify-content: space-between
    position: fixed
    width: calc(100% - 15%)
    margin: auto
    left: 0
    right: 0
    border-radius: 0px 0px 40px 40px
    z-index: 900
    
    &__inner
      display: flex
      align-items: center
      justify-content: space-between

    & img
        width: 60px
        height: 60px

    & p
        font:
          weight: $medium
          size: calc(16px + 8 * (100vw / 1920))
        color: $white
        margin: 0px 20px 0px 20px

    & button
        min-width: 150px
        padding: 10px 15px
        border: 0px
        border-radius: 20px
        color: $white
        cursor: pointer
        font-weight: $bold
        font-size: calc(15px + 9 * (100vw / 1920))
        background: linear-gradient(300deg, #ff00c8, #ff6900, #ffb600, #ff6900, #ff00c8)
        background-size: 1000% 1000%
        animation: main-button 10s ease infinite

@keyframes main-button 
  0% 
    background-position: 0% 40%

  50%
    background-position: 100% 61%

  100%
    background-position: 0% 40%

.active-f
  transform: translateY(0%) !important
  transition: 0.4s all !important

@media (max-width: 550px)

  .fixed__inner p
    display: none

  .fixed button
    min-width: 60%

  .fixed
    justify-content: space-around
    bottom: 0
    border-radius: 40px 40px 0px 0px
    width: 100%
    transform: translateY(100%) !important
    

  .active
    transform: translateY(0%) !important
    transition: 0.4s all !important  

    & img
      width: 70px
      height: 70px

