.footer

    &__wrapper
        background-color: $bgblue
        display: flex
        justify-content: space-between
        align-items: start
        padding: 20px 40px

        & p
            color: $white


            & span
                font-weight: $bold
                color: $white

        & h2
            font:
                size: 16px
            color: $white
            margin-bottom: 10px

        & img:nth-child(1)
            align-self: center
            

    &__contacts

        & p
            margin-bottom: 5px

    &__offices

        & p
            margin-bottom: 5px

    &__social

        width: 15%

        & h2
            text-align: center


        &-img
            display: flex
            align-items: center
            justify-content: space-between

            & img
                width: 50px
                height: 56px

    &-p
        width: 35%
        line-height: 25px


@media (max-width: 1090px)
    .footer__wrapper
        flex-direction: column

    .footer-p
        width: 100%
        margin: 0 auto
        text-align: center

    .footer__contacts
        text-align: center
        margin: 20px auto

    .footer__offices
        text-align: center
        margin: 20px auto

    .footer__social
        text-align: center
        margin: 20px auto 80px auto

        &-img
            justify-content: center

               
