.header
    padding: $grid
    padding-top: 80px
    background-image: url('../img/bg.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: center center

    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center

    &__text
        width: 50%

        &-title
            font-size: 34px
            margin-bottom: 20px

            & span
                color: #e32535

        &-list
            display: grid
            grid-template-columns: 50% 50%
            grid-gap: 20px

            &-item

                & h2
                    font-size: 16px
                    font-weight: $bold
                    font-family: $font

                & p
                    font-size: 16px
                    font-weight: $medium
                    font-family: $font

    &__img
        width: 50%
        text-align: right
