.header
    padding: $grid
    padding-bottom: 80px
    padding-top: 30px
    background-image: url('../img/bg-1.svg')
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: center center

    &__wrapper
        display: flex
        justify-content: space-between

    &__text

        &-title
            font-size: 34px
            margin-bottom: 20px

            & span
                color: #e32535

        &-list
            display: grid
            grid-template-columns: 50% 50%
            grid-gap: 20px

            &-item
                width: 100%

                & h2
                    font-size: 16px
                    font-weight: $bold
                    font-family: $font

                & p
                    font-size: 16px
                    font-weight: $medium
                    font-family: $font

        &-buttons
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 40px

            &-red
                background-color: #e32535
                padding: 20px 50px
                border-radius: 10px
                color: $white
                font-family: $font
                font-weight: $bold
                font-size: 16px
                border: 2px solid #e32535
                cursor: pointer
                margin-right: 20px
                
                &:hover
                    background-color: transparent
                    color: #4e4e4e
                    transition: 0.4s

            &-white
                background-color: transparent
                padding: 20px 50px
                border-radius: 10px
                color: #4e4e4e
                font-family: $font
                font-weight: $bold
                font-size: 16px
                border: 2px solid transparent
                cursor: pointer

                &:hover
                    border: 2px solid #4e4e4e
                    transition: 0.4s
                    color: #e32535
                


    &__img
        text-align: right

        & video
            height: 33.4vw
            width: 27vw
            border-radius: 40px


@media (max-width: 1660px)
    .header__text

        &-list
            grid-template-columns: 50% 50%

        &-buttons
            justify-content: center

            & button
                margin-right: 20px

    .header__img
        text-align: center

@media (max-width: 1500px)
    .header
        padding: $grid1440
        padding-bottom: 170px
        padding-top: 30px

@media (max-width: 1065px)
    .header__text-buttons
        flex-direction: column

@media (max-width: 950px)
    .header__text-title br
        display: none

    .header__text
        &-list
            grid-template-columns: 100%

            &-item

                & br
                    display: none

                & h2
                    text-align: center

                & p
                    text-align: center

    .header__img video
        max-width: 100%

@media (max-width: 670px)
    .header__text-title 
        line-height: 35px
        font-size: 23px