.header
    padding: $grid
    padding-top: 80px
    background-image: url('../img/bg.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    background-position: center center

    &__wrapper
        display: flex
        justify-content: space-between

    &__text

        &-title
            font-size: 34px
            margin-bottom: 20px

            & span
                color: #e32535

        &-list
            display: grid
            grid-template-columns: 50% 50%
            grid-gap: 20px

            &-item

                & h2
                    font-size: 16px
                    font-weight: $bold
                    font-family: $font

                & p
                    font-size: 16px
                    font-weight: $medium
                    font-family: $font

        &-buttons
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 40px

            &-red
                background-color: #e32535
                padding: 20px 50px
                border-radius: 10px
                color: $white
                font-family: $font
                font-weight: $bold
                font-size: 16px
                border: 2px solid #e32535
                cursor: pointer
                margin-right: 20px
                
                &:hover
                    background-color: transparent
                    color: #4e4e4e
                    transition: 0.4s

            &-white
                background-color: transparent
                padding: 20px 50px
                border-radius: 10px
                color: #4e4e4e
                font-family: $font
                font-weight: $bold
                font-size: 16px
                border: 2px solid transparent
                cursor: pointer

                &:hover
                    border: 2px solid #4e4e4e
                    transition: 0.4s
                    color: #e32535
                


    &__img
        text-align: right
