.popup
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0 
    color: $white
    opacity: 0
    visibility: hidden
    overflow-x: hidden
    overflow-y: auto
    transition: all 0.5s ease 0s
    z-index: 901

    &__body
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        padding: 30px 10px
        z-index: 20
        

    &__content
        background-color: #f7f7f7
        color: #000
        width: 700px
        padding: 25px 80px 0px 80px
        position: relative
        border-radius: 40px

    &__wrapper
        display: flex


    &__text
        width: 100%
        padding-bottom: 25px

        & h2
            font:
                size: calc(30px + 8 * (100vw / 1920))
                weight: $bold

            padding-top: 15px
            margin-bottom: 15px
            text-align: left

        & p
            font:
                size: calc(19px + 2 * (100vw / 1920))
                weight: $medium
            color: #4E4E4E
            margin: 15px 0px !important
            text-align: left
            

        & form
            padding: 20px 0px
            width: 100%

            & p
                font:
                    size: 16px
                    weight: $bold
                margin-left: 35px !important

            & button
                background: $red !important
                text-transform: uppercase
                margin-top: 20px
                margin-bottom: 20px
                min-width: 150px
                padding: 10px 15px
                border: 0px
                border-radius: 20px
                color: $white
                cursor: pointer
                font-weight: $bold
                font-size: calc(15px + 9 * (100vw / 1920))
                

        &-form
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 15px

        & p:last-child
            font-size: 16px
            line-height: 25px
            margin-top: 20px !important

    &__close
        position: absolute
        right: 25px
        top: 20px
        cursor: pointer
        
        & img
            width: 45px !important
            height: 45px !important

textarea
    padding: 10px 20px
    background-color: #ffffff
    border: 0px
    border-radius: 10px
    outline: none
    font-family: $font
    font-weight: $medium
    font-size: 16px
    color: #4e4e4e
    width: 100%
    min-height: 130px
    max-width: 900px

    &::placeholder
        line-height: 26px

.open
    opacity: 1
    visibility: visible

.bg
    background-color: rgba(0, 0, 0, 0.7)
    cursor: pointer
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 0

.popup__text-form::before
    content: '+'
    position: absolute
    margin-left: 15px
    margin-bottom: 2px


input[type="email"], input[type="number"], input[type="tel"], input[type='text']
    padding: 16px
    background-color: $white
    border: 0px
    border-radius: 20px
    outline: none
    font-family: $font
    text-indent: 15px
    font-size: 16px

input[type='text']
    width: 100%

input[type="email"]
    width: 100%

input[type="number"]
    width: 40%
    margin-right: 5%
    text-indent: 40px

input[type="tel"]
    width: 60%

.popup__checkbox

    margin-top: 20px

    & input[type="checkbox"]
        display: none

    & label
        color: #4E4E4E
        font-family: $font
        font-weight: $medium
        cursor: pointer
        user-select: none
        line-height: 30px
        padding: 10px 0
        vertical-align: middle
        margin-top: 30px

    & label:before
        content: ''
        color: $red
        display: inline-block
        font: 30px/30px $font
        margin-right: 15px
        text-align: center
        text-indent: 0px
        width: 30px
        height: 30px
        background: $white
        border: 0
        background-color: $white
        border-radius: 10px
        border-image: initial
        vertical-align: middle

    & input:checked + label:before
        content: '✔'

    & input:disabled + label:before
        background: $red
        color: $red

#popup-subtitle
    margin: 25px 0px !important

#popup-footer
    margin: 0px 0px 25px 0px !important

#popup-contact
    margin-top: 30px !important

@media (max-width: 1700px)

    #popup-subtitle
        margin: 25px 0px !important
        width: 100%

    #popup-footer
        margin: 10px 0px !important
        width: 100%


@media (max-width: 1500px)
    .popup__text 
        
        & p
            margin: 10px 0px !important

            &:last-child
                margin-top: 15px !important

        & form
            padding: 15px 0

            
@media (max-width: 968px)
    .popup__content
        padding: 25px 30px 0px 30px
        width: 90%
        max-width: 90%

    .popup__wrapper
        justify-content: center

    .popup__text-submit
        width: 100%
        max-width: 100%

@media (max-width: 615px)
    .popup__text h2
        font-size: 28px

    #popup-subtitle
        font-size: 14px

    textarea 
        min-height: 180px

    .popup button
        margin: 30px auto 0px auto

    .popup__checkbox label
        text-align: center
        display: inline-block
        margin-top: 0px

    .popup__checkbox
        padding-bottom: 0px
@media (max-width: 470px)
    .popup__text p:last-child
        font-size: 14px
    .popup__text form button
        display: flex
        justify-content: center
        text-align: center
    .popup__text-form::before
        margin-left: 10px
        margin-bottom: 8px
    .popup__content
        width: 100%
        max-width: 100%
        padding: 25px 10px 0px 10px

    input[type=number]
        width: 30%
        margin-right: 0px
        text-indent: 15px

    input[type=tel]
        width: 70%
        margin-left: 10px

    #popup-subtitle br
        display: none

        

    
    