.price
    padding: $grid
    position: relative

    &__wrapper
        display: grid
        grid-template-columns: 23% 23% 23% 23%
        grid-gap: 20px
        justify-content: center

    &__item
        display: flex
        flex-direction: column

        &-img
            border-radius: 40px

            & img
                width: 100%

        &-cost
            background-color: $red
            border-radius: 40px
            display: flex
            justify-content: center
            align-items: center
            padding: 10px
            margin: 5px 0
            
            & p
                color: $white
                font:
                    size: 16px
                    weight: $medium

                & span
                    font-size: 20px
                    color: $white
                    font-weight: $bold

        &-recommend
            background-color: #f7f7f7
            border-radius: 20px
            padding: 10px
            text-align: center
            margin: 5px 0

            & p
                font:
                    size: 16px
                    weight: $medium

                
                font-style: italic

#price_link
    position: absolute
    top: -250px

@media (max-width: 1500px)
    .price
        padding: $grid1440

@media (max-width: 1070px)
    .price__wrapper
        grid-template-columns: 33% 33% 33%

@media (max-width: 780px)
    .price__wrapper
        grid-template-columns: 50% 50%

@media (max-width: 520px)
    .price__wrapper
        grid-template-columns: 100%