.slider__item img 
    width: 100%
    height: 700px

.slider
    width: 100%
    padding: 0

.second__slider

    &-item
        padding: 10px
        text-indent: 0px !important
        width: 100% !important
        height: 100% !important
        font-size: 16px !important
        font-family: $font !important
        font-weight: $medium !important
        text-align: center
        

        &:active
            background-color: $white !important
    &-inner
        margin: 0 !important
        position: static
        background-color: #f7f7f7

    &-1
        display: grid
        grid-template-columns: 50% 50%
        
        &-left
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            background-color: $bgblue

            & h2
                font:
                    weight: $bold
                color: $white

                &:nth-child(1)
                    font-size: 80px

                &:nth-child(2)
                    font-size: 45px

        &-right

            & img
                height: 100% !important
                    
                    


.marquee
    background-color: #f7f7f7
    & li
        list-style-type: none    
        display: inline
        font:
            size: 16px
            family: $font
            weight: $medium

        margin-right: 150px
        
    & ul
        padding: 25px

.mobile__slider-pic
        display: none


@media (max-width: 870px)
    .mobile__slider-pic
        display: block
        background-color: $bgblue

        & img
            width: 100%

    .second__slider-1-left

        & h2:nth-child(1)
            font-size: 50px
            margin-top: 20px
            margin-bottom: 10px

        & h2:nth-child(2)
            font-size: 30px
            margin-bottom: 20px

@media (max-width: 576px)
    .second__slider-1-left

        & h2:nth-child(1)
            font-size: 30px
            

        & h2:nth-child(2)
            font-size: 20px
            


    

